{% include "_includes/header.njk" %}
<body onload="processHighResImages();advanceStep();">
  {% include "_includes/navbar.njk" %}
  <div id="Content">

    <h1>The Cutting Edge: Aquamacs Nightly Builds</h1>

    <p>If you'd like to stay on top of the game, download our
    nightly builds. These are produced from current development
    snapshots of GNU Emacs and Aquamacs, straight from their
    respective repositories.</p>

    <p> <a href="#changelog-latest">The list of changes to date is
   available.</a>
   </p>
    <p>Building the nightlies may fail occasionally - that's part
    of why we do them. If that happens and you're tech savvy,
    please do check the
    log provided and try to fix the problem.</p>
  <h2>Reporting Problems</h2>

      <a href="reporting-bugs.html">See here for details about how to file bug reports.</a>


      <h2>Unidentified Developer: Digital Signature</h2>

      While regular Aquamacs releases are digitally signed, the nightly
      builds are not (for security reasons).  This means that you may
      get an error message when first starting up a freshly downloaded
      Aquamacs: "Aquamacs can't be opened because it is from an
      unidentified developer.".
  <p>
      To work around this, just double-click on the app in Finder while
      holding the Control button.  You only need to do this once.

      <h2>Nightly Development Builds</h2>

      <div class="nightlyInfo">

          <h2 style="color:#666666;">Aquamacs 3.x (based on GNU Emacs 25, Cocoa
              (NS port), Intel, "aquamacs3" branch) - <b>the cutting edge</b></h2>
          <p><em>These builds are updated regularly. This is most likely what
              you're looking for!</em>
              <a href="https://github.com/aquamacs-emacs/aquamacs-emacs/commits/aquamacs3">Recent commits</a></p>
          Download the latest
          <a href="https://aquamacs.s3.us-east-2.amazonaws.com/aquamacs-nightly.tar.bz2">Aquamacs-nightly.tar.bz2</a>

      </div>

      {% include "_includes/footer.njk" %}
</body>
</html>
