<!DOCTYPE html>
<html lang="en-us">
<head> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77306-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-77306-1');
  </script>
  <meta charset="utf-8"/>
  <meta name="keywords" content="Emacs, Mac, OS X, OSX, Macosx, Aqua, Carbon, Cocoa, XEmacs, GNU" />
  <meta name="description" content="Aquamacs is an Emacs for Mac OS X that will feel mostly like an Aqua program - while still being a real GNU Emacs with all the ergonomy and extensibility you've come to expect from this world-class editor." />
  <meta name="theme-color" content="#FFB83B">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="manifest" href="manifest.json">
  <link href="assets/css/main.min.css" rel="stylesheet" type="text/css" />
  <title>Aquamacs: Emacs for Mac OS X</title>
</head>