{% include "./partials/header.njk" %}
<body onload="processHighResImages();advanceStep();">
    {% include "./partials/navbar.njk" %}

  <div id="Content">
    
    <div id="content-profile">
      <div id="spotlight">
      <h3>Feature Articles</h3>
      <ul>
        <li id="handle_latex" class=""><a id="link_latex" onmouseover="hoverImage('latex');" onmouseout="endHoverImage();" href="/latex/index.html" class="">LaTeX Editing</a></li>
        <li id="handle_support" class=""><a id="link_support" onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="/support/index.html" class="">Support</a> 
        (<a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsFAQ">FAQ</a>, 
        <a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsEmacs">Wiki</a>)</li>
      </ul>
        </div>
    </div>

    <h1>Releases</h1>


    
    <iframe style="border:1pt grey solid; "
      height="250" width="550" src=
      "http://braeburn.aquamacs.org/releases"></iframe>
    <br />
  </div>
  {% include "./partials/footer.njk" %}
</body>
</html>