<!DOCTYPE html>
<html lang="en-us">
<head> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77306-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-77306-1');
  </script>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="keywords" content="Emacs,Mac,OS X,OSX,Macosx,Aqua,Carbon,Cocoa,XEmacs,GNU" />
  <meta name="description" content="Aquamacs is an Emacs for Mac OS X that will feel mostly like an Aqua program - while still being a real GNU Emacs with all the ergonomy and extensibility you've come to expect from this world-class editor." />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <title>Aquamacs: Emacs for Mac OS X</title>
  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="assets/js/pngfix.js"></script>
  <![endif]-->
  <link href="assets/css/3.0.css" rel="stylesheet" type="text/css" />
</head>
<body onload="processHighResImages();advanceStep();">
    <header id="header">
        <div id="left" width="100%">
            <a href="/" title="Aquamacs Home">
              <img id=toplogo class=highRes style="position:absolute;" src="assets/images/aquamacs-logo.png" alt="Aquamacs Emacs" width=460 />
            </a>
        </div>
    <div id="rightBox">
      <ul>
        <li id="home">
            <span><a href="/">Home</a></span>
        </li>
        <li id="about_menu">
            <span><a href="about.html">What's Aquamacs?</a></span>
        </li>
        <li id="features_menu">
            <span><a href="features.html">Features</a></span>
        </li>
        <li id="download">
            <img src="assets/images/download-48.png" height="32" width="32"/>
            <span><a href="download.html">Downloads</a></span>
        </li>
        <li id="support_menu">
          <img src="assets/images/support-56.png" height="69" width="56"/>
          <span><a href="support.html">Support</a></span>
        </li>
        <li id="development">
          <img src="assets/images/development-56.png" height="32" width="32"/>
          <span><a href="development.html">Development</a></span>
        </li>
      </ul>
    </div>
  </header>
    <div id="Content">
        <div id="content-profile">
            <div id="spotlight">
             <h3>Feature Articles</h3>
             <ul>
               <li id="handle_latex" class=""><a id="link_latex" onmouseover="hoverImage('latex');" onmouseout="endHoverImage();" href="latex.shtml" class="">LaTeX Editing</a></li>
               <li id="handle_support" class=""><a id="link_support" onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="support.html" class="">Support</a> 
               (<a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsFAQ">FAQ</a>, 
              <a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsEmacs">Wiki</a>)</li>
             </ul>
              </div>
          </div>
    <h1>Downloads</h1>

<p>Download the latest version of Aquamacs Emacs, as well as
older ones. This page also offers links to plugins for Aquamacs.</p>

<a name="#d200000"> </a>

<div class="downloads">

<ul id="dl" style="line-height:200%;">

<img src="assets/images/down-22.png">
<a href="https://github-production-release-asset-2e65be.s3.amazonaws.com/163782/04912680-c1df-11e9-8988-54e6e443f3a2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20191012%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20191012T081320Z&X-Amz-Expires=300&X-Amz-Signature=1a9901434cf3373b03f6da30d5269ee1a8d7b909d980595a35a77848592c56af&X-Amz-SignedHeaders=host&actor_id=1501560&response-content-disposition=attachment%3B%20filename%3DAquamacs-Emacs-3.5.dmg&response-content-type=application%2Foctet-stream" download>
  Aquamacs Emacs 3.5</a><br>
  <ul>
   <li><strong>official release: stable, reliable, recommended!</strong>
    <li>based on GNU Emacs 25.3
    
    <li>For all modern Macs (OS X 10.9+, 64bit Intel).
<!--#if expr='("${HTTP_USER_AGENT}"=~/Intel/) || ("${HTTP_USER_AGENT}"=~/x86_64/)' --> 
<b>Recommended for your Mac.</b>
    <!--#endif -->

    <li><a href="#changelog">Change Log: What's new in version 3.5?</a>
  
</ul></li>

  
<li class="download"><img src="assets/images/down-22.png"><a href="nightlies.html">Nightly builds</a><br>
<ul><li><string>Follow the development with our Nightly
  builds</strong></li></ul>
  </li>


<li class="download"><img src="assets/images/down-22.png">
<a href="https://master.dl.sourceforge.net/project/aquamacs/Releases/Aquamacs-Emacs-2.4-UB.dmg" download>
  Aquamacs Emacs 2.4</a><br>
  <ul>
   <li><strong>last release available for older Macs</strong>
    <li>based GNU Emacs 23.4


    <li>For 32bit Intel Macs (OS X 10.6+, 64bit and 32bit Intel).
<!--     <li><a href="download-release-ub.shtml">Universal Binary of -->
<!--     Aquamacs 2.4</a> for PowerPC (PPC) Macs, or Macs with older -->
<!--     operating systems. -->

</ul></li>


 </div>
<h2>Requirements</h2>

<ul>

  <li>from Aquamacs 3.3 on: Apple Mac OS X 10.9 or later.
  <li>from Aquamacs 3.0 on: Apple Mac OS X 10.6 or later, and (for the
  binary release) 64-bit Intel CPU (all modern Macs)</li>
  <li>from Aquamacs 2.0 on: Apple Mac OS X 10.5.8 or later (Intel/PPC)</li>

</ul>
<a name="changelog"></a>
<h2>What's new in the latest release?</h2>
<div>
<a href="nightlies.html#changelog-latest">Click here for the changes
in the latest development builds.</a></div>
<div class="changelog">
<!--#include virtual="changelog-release.html" -->
</div><br />

  <script src="assets/js/header.js"></script>
</body>
</html>