{% include "_includes/header.njk" %}
<body onload="processHighResImages();advanceStep();">
    {% include "_includes/navbar.njk" %}
    <div id="Content">
        <div id="content-profile">
            <div id="spotlight">
             <h3>Feature Articles</h3>
             <ul>
               <li id="handle_latex" class=""><a id="link_latex" onmouseover="hoverImage('latex');" onmouseout="endHoverImage();" href="latex.html" class="">LaTeX Editing</a></li>
               <li id="handle_support" class=""><a id="link_support" onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="support.html" class="">Support</a> 
               (<a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsFAQ">FAQ</a>, 
              <a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsEmacs">Wiki</a>)</li>
             </ul>
              </div>
          </div>
    <h1>Downloads</h1>

  <p>Download the latest version of Aquamacs Emacs, as well as
  older ones. This page also offers links to plugins for Aquamacs.</p>

  <a name="#d200000"> </a>

  <div class="downloads">

  <ul id="dl" style="line-height:200%;">

  <img src="assets/images/down-22.png" alt="Download icon">
  <a href="https://github.com/aquamacs-emacs/aquamacs-emacs/releases/download/Aquamacs-3.5/Aquamacs-Emacs-3.5.dmg" download>
    Aquamacs Emacs 3.5</a><br>
    <ul>
    <li><strong>official release: stable, reliable, recommended!</strong>
      <li>based on GNU Emacs 25.3
      
      <li>For all modern Macs (OS X 10.9+, 64bit Intel).
  <!--#if expr='("${HTTP_USER_AGENT}"=~/Intel/) || ("${HTTP_USER_AGENT}"=~/x86_64/)' --> 
  <b>Recommended for your Mac.</b>
      <!--#endif -->

      <li><a href="#changelog">Change Log: What's new in version 3.5?</a>
    
  </ul></li>

    
  <li class="download">
    <img src="assets/images/down-22.png" alt="Download icon">
      <a href="nightlies.html">Nightly builds</a>
      <br>
      <ul>
        <li><string>Follow the development with our Nightly builds</strong></li>
      </ul>
  </li>


  <li class="download"><img src="assets/images/down-22.png" alt="Download icon">
  <a href="https://master.dl.sourceforge.net/project/aquamacs/Releases/Aquamacs-Emacs-2.4-UB.dmg" download>
    Aquamacs Emacs 2.4</a><br>
    <ul>
    <li><strong>last release available for older Macs</strong>
      <li>based GNU Emacs 23.4


      <li>For 32bit Intel Macs (OS X 10.6+, 64bit and 32bit Intel).
  <!--     <li><a href="download-release-ub.shtml">Universal Binary of -->
  <!--     Aquamacs 2.4</a> for PowerPC (PPC) Macs, or Macs with older -->
  <!--     operating systems. -->

  </ul></li>


  </div>
  <h2>Requirements</h2>

  <ul>

    <li>from Aquamacs 3.3 on: Apple Mac OS X 10.9 or later.
    <li>from Aquamacs 3.0 on: Apple Mac OS X 10.6 or later, and (for the
    binary release) 64-bit Intel CPU (all modern Macs)</li>
    <li>from Aquamacs 2.0 on: Apple Mac OS X 10.5.8 or later (Intel/PPC)</li>

  </ul>
  <a name="changelog"></a>
  <h2>What's new in the latest release?</h2>
  <div>
  <a href="nightlies.html#changelog-latest">Click here for the changes
  in the latest development builds.</a></div>
  <div class="changelog">
  <!--#include virtual="changelog-release.html" -->
  </div><br />

  {% include "_includes/footer.njk" %}
</body>
</html>