{% include "_includes/header.njk" %}
<body onload="processHighResImages();advanceStep();">
    {% include "_includes/navbar.njk" %}
    <div id="Content">
        <div id="content-profile">
            <div id="spotlight">
             <h3>Feature Articles</h3>
             <ul>
               <li id="handle_latex" class=""><a id="link_latex" onmouseover="hoverImage('latex');" onmouseout="endHoverImage();" href="latex.shtml" class="">LaTeX Editing</a></li>
               <li id="handle_support" class=""><a id="link_support" onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="support.html" class="">Support</a> 
               (<a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsFAQ">FAQ</a>, 
              <a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsEmacs">Wiki</a>)</li>
             </ul>
              </div>
          </div>
    <!--#include virtual="content-profile.php?from=${DOCUMENT_NAME}" -->    
    <h1>Features: Why use Aquamacs?<br /></h1>

    <h2>Aquamacs. Finally a GNU Emacs that feels like home.</h2>Get
    all the flexibility and variety of Emacs - and the comfort of
    the modern graphical user interface that you're used to from
    other Mac applications.

    <h2>Why use Aquamacs instead of a raw GNU Emacs?</h2>

    <p>Why use Aquamacs instead of the a stock Carbon or X11 Emacs
    on the Mac? Here are some features that Aquamacs has to offer
    on top of all the advantages that come with Emacs:</p>

    <ul>
      <li>
        <div>
          <p><b>Fonts</b> just work, right from the menu: The
          Mac-standard font (Lucida Grande) is the default for
          editing text, and the mono-spaced Monaco is used to other
          modes. These fonts are nicely rendered with antialiasing.
          Aquamacs offers a range of proportional and mono-spaced
          fonts to choose from.</p>
        </div>
      </li>

      <li>
        <div>
          <p>Aquamacs has a <b>standard Mac menu</b> with
          entries where you would expect them, and recently used
          files are available from the File menu.</p>
        </div>
      </li>

      <li>
        <div>
          <p>Aquamacs gives you all the <b>standard Mac
          shortcuts</b> like Apple-S, Apple-C, Apple-V - everything
          that you're used to in addition to the fast, traditional
        Emacs key bindings.</p>
        </div>
      </li>

      <li>
      <p>Aquamacs can organize the files that you're editing in
      <b>tabs</b>.  This preserves screen space but allows you to keep track
      of all those open files easily.  You've probably seen the tabs
      in Safari, Firefox or the OS X Terminal program.</p></li>

      <li>
      <p>Aquamacs can open <b>a normal OS X window for each file</b> that is opened - Emacs experts call such windows <em>frames</em>. Finally, Aquamacs makes use of the capabilities of windows on modern graphical user interfaces. This is configurable with a mouse-click - of course, You can switch between the windows (frames) with the "Window"&nbsp; menu.</p>
      </li>

      <li>
        <div>
      <p><b>Perfect Team-play.</b> Clipboard operations interoperate
        with other Mac apps. In Aquamacs, if you mark a chunk of text,
        it will NOT be automatically copied into the clipboard -
        unlike in GNU Emacs. Just like in any Mac&nbsp; program, you can copy with the Apple-C command, and then replace&nbsp; another region by selecting it and hitting Apple-V (Paste).</p>
        </div>
      </li>
<li>
        <div>
         <p><b>Spell-Checking.</b> Aquamacs spell-checks your
        documents with the OS X spell-checker, supporting more than a
        hundred languages and system-wide user dictionaries.</p>
        </div>
      </li>
      <li>
        <div>
         <p><b>Unicode Support.</b> Aquamacs reads and writes files in
        all Unicode variants.  In addition to the input methods provided OS X, the Aquamacs Multilingual Environment defines configuration settings for Chinese, Japanese and Korean on top of the standard Mule..</p>
        </div>
      </li><li>
    <div>
    <p><b>Printing just works</b> the way you expect it to - with a preview and through the normal printing infrastructure.</p>
    </div>
  </li> 
<li>
    <div>
    <p><b>Meta Key Management:</b> since Emacs uses an extra modifier
        key that is not on your keyboard, Aquamacs allows you to use
        the Option key. But even when using Option for Meta
        you won't lose the ability to input characters such as [ or \
        with the most common non-English keyboard layouts.
        Alternatively, you can also use just the right-hand side
        Command or Option keys for Meta, or many others.</p>
    </div>
  </li> 
      <li>
        <div>
  <p><b>Auto Faces:</b> You can define fonts and colors as defaults
        for a given editing mode. That means that you can have
        customized designs for different types of files you're
        editing. For example, you can easily distinguish LaTeX files
        on the screen by their beige background color, or use
        variable-width (proportional) fonts for text modes only, but
        stick to fixed width, <tt>monospaced</tt> fonts for editing code.</p>
        </div>
      </li>

      <li> <div> <p>It's a distribution that comes with <b>the latest
      goodies</b> pre-installed so you can simply use them and get on
      with your life. No installation, no setup needed. Here's what's
      included: AUCTeX for comfortable LaTeX editing, ESS (Emacs
      speaks Statistics) as an interface to statistics applications
      such as R, SPLUS etc., nXML for comfortable XML editing. Other,
      smaller, packages provide support for a range of programming
      languages and other formalisms.  High-quality Java and Lisp
	support is available via JDEE and SLIME, respectively.  These
	can be installed separately via the <a href="https://melpa.org/">MELPA</a> repository.</p> </div> </li>

      <li>
        <div>
          <p>Aquamacs offers <b>a dedicated manual</b> plus the good old Emacs manual directly via Apple Help environment - you can search both of them quickly with Spotlight and read the documentation comfortably.</p>
        </div>
      </li>

      
      <li>
        <div>
  <p>A number of extensions to GNU Emacs are contained that would be
        expected of any Mac program:
        they're small details that make your life easier. For example,
        there is a "Reveal in Finder" function, or another one to open
        new files in one of many popular modes. When you double-click
        a file written in Aquamacs, it'll open in Aquamacs.  Drag&Drop
        works perfectly.  You get a menu with recently edited files
        without any configuration.  Copy and Paste know about word
        boundaries, inserting and deleting spaces where sensible (`smart-spacing-mode').</p>
        </div>
      </li>

      <li>
        <div>
          <p>Aquamacs remains <b>extensible,</b> so you can use
        special syntax coloring setups or enjoy embedded CVS, Git,
        Bazaar, SVN and Mercurial support, a HTML markup menu and the like. Aquamacs is compatible with GNU Emacs.</p>
        </div>
      </li>

     <li>
        <div>
         <p><b>Great Support</b>. A community around Aquamacs (and a larger one around Emacs!) will help you out when you don't know how to do X. Just write to the mailing list (but check the manuals first!)</p>
        </div>
      </li>
    </ul>

    <h2>Incomplete List of Keyboard Shortcuts</h2>These shortcuts
    are in addition to all the Emacs shortcuts you migh be used to.

    <table cellpadding="3" border="1" align="center">
              <tr>
                <th align="center"><span class=
                "textbf">Shortcut</span></th>

                <th align="center"><span class="textbf">Elisp
                Command</span></th>

                <th align="center"><span class=
                "textbf">Function</span></th>
              </tr>

              <tr>
                <td align="center">⌘N</td>

                <td align="center">new-frame-with-new-scratch</td>

                <td align="center">Open a new empty
                window/frame</td>
              </tr>

              <tr>
                <td align="center">⌘O</td>

                <td align="center">mac-find-file-other-frame</td>

                <td align="center">Open a new window/frame with a
                file</td>
              </tr>

              <tr>
                <td align="center">⇧⌘S</td>

                <td align="center">mac-key-save-file-as</td>

                <td align="center">Save as (using file panel)</td>
              </tr>

              <tr>
                <td align="center">⇧⌘O</td>

                <td align="center">mac-key-open-file-other-frame</td>

                <td align="center">Find file in another frame (using file panel)</td>
              </tr>

              <tr>
                <td align="center">⌘A</td>

                <td align="center">mark-whole-buffer</td>

                <td align="center">Select all text</td>
              </tr>

              <tr>
                <td align="center">⌘V</td>

                <td align="center">cua-paste (yank)</td>

                <td align="center">Paste text</td>
              </tr>

              <tr>
                <td align="center">⌘C</td>

                <td align="center">clipboard-kill-ring-save</td>

                <td align="center">Copy text</td>
              </tr>

              <tr>
                <td align="center">⌘X</td>

                <td align="center">clipboard-kill-region</td>

                <td align="center">Cut text</td>
              </tr>

              <tr>
                <td align="center">⌘S</td>

                <td align="center">mac-key-save-file</td>

                <td align="center">Save file</td>
              </tr>

              <tr>
                <td align="center">⌘L</td>

                <td align="center">goto-line</td>

                <td align="center">Go to specified line</td>
              </tr>

              <tr>
                <td align="center">⌘F</td>

                <td align="center">isearch-forward</td>

                <td align="center">Search</td>
              </tr>

              <tr>
                <td align="center">⌘G</td>

                <td align="center">isearch-repeat-forward</td>

                <td align="center">Repeat search</td>
              </tr>

              <tr>
                <td align="center">⌘W</td>

                <td align="center">close-window</td>

                <td align="center">Close window</td>
              </tr>

              <tr>
                <td align="center">⌘M</td>

                <td align="center">iconify-or-deiconify-frame</td>

                <td align="center">Minimize window to the Dock</td>
              </tr>

              <tr>
                <td align="center">⌘Q</td>

                <td align="center">aquamacs-save-buffers-kill-emacs</td>

                <td align="center">Save file, exit program</td>
              </tr>hk

              <tr>
                <td align="center">⌘Z</td>

                <td align="center">undo</td>

                <td align="center">Undo</td>
              </tr>

              <tr>
                <td align="center">⇧⌘Z</td>

                <td align="center">redo</td>

                <td align="center">Redo</td>
              </tr>

              <tr>
                <td align="center">⌘;</td>

                <td align="center">
                spellcheck-now</td>

                <td align="center">Interactive spell-checking</td>
              </tr>
              <tr>
                <td align="center">^;</td>

                <td align="center">
                toggle-pass-option-to-system</td>

                <td align="center">Toggle: allow input of special
                characters with Option key / use Option key as
                Emacs Meta key</td>
              </tr>
            </table><a name="tab:shortcuts" id="tab:shortcuts"></a>

    
    <h2>Included Third-Party Packages</h2>

Aquamacs 3.x is based on GNU Emacs 24.  The following list is
	    incomplete but gives an impression of what comes with Aquamacs.
	    
    <ul>

<li>applescript-mode (FUJIMOTO Hisakuni, Harley Gorrell)</li>
<li>AUCTeX   (David Kastrup et al.)<em> LaTeX editing environment</ 
em></li>
<li>color-theme (Jonadab, Xavier Maillard) <em>Color sets for frames</ 
em></li>
<li>css-mode (Lawrence Mitchell, Alex Schr&ouml;der)</li>
<li>ESS <em>(Emacs Speaks Statistics - for R, S and others)</em></li>
<li>files+/frame+/autofit-frame etc. (Drew Adams) <em>comfortable  
frame movements etc.</em></li>
<li>findr (David Bakhash) <em>Breadth-first file-finding facility for  
(X)Emacs</em></li>
<li>haskell-mode (Dave Love et al.)</li>
<li>html-helper-mode (Gian Uberto Lauri, Nelson Minar) <em>Great HTML  
editing mode.</em></li>
<li>htmlize (Hrvoje Niksic) <em>Export to HTML</em></li>
<li>javascript-mode (Peter Kruse)</li>
<li><a href="http://jdee.sourceforge.net/">JDEE</a> for Java (Paul Kinnucan)</li>
<li>matlab-mode (Matt Wette, Eric M. Ludlam)</li>
<li>nXML-mode (James Clark et al.)</li>
<li>pager (Mikael Sj&ouml;din, <a href="http://www.david-reitter.com/"  
alt="Reitter">David Reitter</a>)</li>
<li>par-align (Bob Weiner) - included but not activated</li>
<li>php-mode (Turadg Aleahmad)</li>
<li><a href="http://bruda.ca/emacs-prolog/">prolog-mode</a> (Stefan
D. Bruda)</li>
<li>python-mode (Tim Peters, Barry A. Warsaw)</li>
<li>redo from XEmacs (Kyle E. Jones) <em>Undo/Redo</em></li>
<li>rails (Dmitry Galisnky, Rezikov Peter)</li>
<li>ruby-mode</li>
<li><a href="http://common-lisp.net/project/slime/" >SLIME</a> for
Lisp (Helmut Eller, Eric Marsden, Luke Gorrie)</li>
<li>Smart-Drag-N-Drop (Seiji Zenitani)  (not activated)</li>
<li>ssh (Noah Friedman)</li>
<li>utf-8m (Seiji Zenitani) <em>Asian filenames</em></li>
<li>wikipedia-mode (Chong Yidong)</li>
      
      <li>and some more.</li>
    </ul>

    <p>Aquamacs additionally activates a number of packages that
    are provided with the default emacs, such as cua-base, ibuffer,
    recentf. The GNU Emacs code-base is patched. Please see the CVS
    for the collection of patches and additional source-files.</p>

    <h2>Configuration: Tips and Tricks</h2>Please refer to the
    <a href=
    "http://www.emacswiki.org/emacs/AquamacsEmacs/">Aquamacs
    Wiki</a>. If you now some tricks yourself, please contribute
    them by clicking on "Edit this page" - no login / password
    necessary!


  </div>

  {% include "_includes/footer.njk" %}
</body>
</html>