{% include "_includes/header.njk" %}
<body onload="processHighResImages();advanceStep();">
  {% include "_includes/navbar.njk" %}
  <div id="Content">
<div id="content-profile">
            <div id="spotlight">
             <h3>Feature Articles</h3>
             <ul>
               <li id="handle_latex" class=""><a id="link_latex" onmouseover="hoverImage('latex');" onmouseout="endHoverImage();" href="latex.html" class="">LaTeX Editing</a></li>
               <li id="handle_support" class=""><a id="link_support" onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="support.html" class="">Support</a> 
               (<a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsFAQ">FAQ</a>, 
              <a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsEmacs">Wiki</a>)</li>
             </ul>
              </div>
          </div>
    <h1>Editing LaTeX with Aquamacs</h1>
    <i><a href="http://prog.vub.ac.be/~cderoove/">Coen de Roover</a><i/>
    <img src="assets/images/latex/general-screenshot.png" width="400"/></img>

    <p>Most old-school Mac users would never think of using
    something for their LaTeX editing needs that brings up so many
    images of command-line hacking as Emacs does. In my personal
    opinion however, Emacs (with the help of the <a href="http://www.gnu.org/software/auctex/preview-latex.html">preview-latex</a>
    and <a href="http://www-sop.inria.fr/mimosa/Manuel.Serrano/flyspell/flyspell.html">
    flyspell</a> extensions) is one of the most advanced <a href="http://www.latex-project.org/">LaTeX</a> editing environments
    available for the Mac. This is especially true for some of the
    open source projects such as <a href="/">Aquamacs</a> that try to integrate Emacs
    more into the Mac operating system.</p>

    <p>As a picture says more than a thousand words, this page
    collects screenshots showcasing some of the advanced LaTeX
    editing features I miss in other OS X offerings.</p>

    <h2 id="aquamacs">Aquamacs offers a tight integration with Mac
    OS X</h2>

<p>Many potential Emacs users might be scared away by the
    seemingly complex keyboard shortcuts. The <a href="/">Aquamacs</a> Emacs distribution however
    implements the standard OS X keyboard shortcuts and other
    interface conventions, <a href="documentation.html">integrating</a> Emacs
    into the Aqua environment. Installation is also a breeze as the
    entire distribution comes in a single-click installer
    package.</p>

    <p>You can continue using the keyboard shortcuts for
    copy-pasting you're accustomed to.<br/>
    <a href="assets/images/latex/menu_shortcuts.png"><img src="assets/images/latex/menu_shortcuts_thumb.png"/></a><br/>
    The file menu even has a recent items entry.<br/>
    <a href="assets/images/latex/menu_shortcuts_recent.png"><img src="assets/images/latex/menu_shortcuts_recent_thumb.png"/></a></p>

    <p>And the Aquamacs menu icon is of course blessed with a more
    Mac-like look.<br/>
    <a href="assets/images/latex/icon_menu.png"><img src="assets/images/latex/icon_menu.png"/></a></p><a class="topOfPage" href="#top" title="Go to the top of this page">^ TOP</a>

    <h2 id="auctex">AUCTeX is already included</h2><a href="http://www.gnu.org/software/auctex/">AUCTeX</a> offers extra
    menus and shortcuts to make your LaTeX (and TeX) editing
    experience a breeze.  

    <h2 id="syntaxcoloring">Advanced syntax coloring</h2>

    <p>This screenshot shows the default syntax coloring applied to
    LaTeX documents. Note that the coloring goes beyond simply
    highlighting a predefined set of LaTeX commands. The argument
    of the <tt>\emph</tt> command is for instance set in italics.
    Also, the font size and weight of subsections varies according
    to their nesting.<br/>
    <a href="assets/images/latex/syntax_color.png"><img src="assets/images/latex/syntax_color_thumb.png"/></a></p>

    <p>While you're typing, paren matching will help you close all
    kinds of parens and brances correctly.<br/>
    <a href="assets/images/latex/paren_matching.png"><img src="assets/images/latex/paren_matching_thumb.png"/></a></p>

    <p>Text in a <tt>verbatim</tt> environment and arguments of the
    <tt>verb</tt> command are typeset in a typewriter font.<br/>
    <a href="assets/images/latex/syntax_color_verb.png"><img src="assets/images/latex/syntax_color_verb_thumb.png"/></a></p>

    <p>Superscripts and subscripts are also rendered with the
    proper fonts.<br/>
    <a href="assets/images/latex/syntax_color_super_sub.png"><img src="assets/images/latex/syntax_color_super_sub_thumb.png"/></a></p><a class="topOfPage" href="#top" title="Go to the top of this page">^
    TOP</a>

    <h2 id="spellchecking">LaTeX-aware spell checking</h2>

    <p>On-the-fly spell checking is available as you type. The
    spell checker is LaTeX-aware: it ignores the spelling of LaTeX
    commands, but will check arguments that are supposed to contain
    text. For instance, it will not mark the error in
    <tt>\documentclass[a4paper]{articlle}</tt>, but it will
    underline both errors in <tt>\section[Short tiitle]{Longer
    tiiitle}</tt>.<br/>
    <a href="assets/images/latex/flyspell.png"><img src="assets/images/latex/flyspell_thumb.png"/></a><br/>
    Note that some words are underlined in orange instead of red.
    These words are available in the British English dictionary,
    but not in the current one that is set to American
    English.<br/>
    <a href="assets/images/latex/flyspell_menu.png"><img src="assets/images/latex/flyspell_menu_thumb.png"/></a><br/></p><a class="topOfPage" href="#top" title="Go to the top of this page">^
    TOP</a>

    <h2 id="errors">Navigate through LaTeX errors</h2>

    <p>In case of a LaTeX error, you can easily see the error
    message and the line on which the error occured side by side. A
    simple click of the button brings you to the next error.<br/>
    <a href="assets/images/latex/navigate_latex_errors.png"><img src="assets/images/latex/navigate_latex_errors_thumb.png"/></a></p><a class="topOfPage" href="#top" title="Go to the top of this page">^
    TOP</a>

    <h2 id="preview">Inline preview of LaTeX formulas and
    images</h2>

    <p>My favourite feature is the inline preview of LaTeX formulas
    and images. It takes a while to generate all the previews for a
    large document, but the authors were kind enough to display
    these little work-in-progress triangles to keep you
    entertained.<br/>
    <a href="assets/images/latex/preview_working.png"><img src="assets/images/latex/preview_working_thumb.png"/></a></p>

    <p>You can continue editing your document as usual. The
    previews for formulas and images will move along with the other
    text. This feature truly makes editing complicated documents a
    breeze.<br/>
    <a href="assets/images/latex/preview_finished.png"><img src="assets/images/latex/preview_finished_thumb.png"/></a></p>

    <p>For quick feedback about any change you made, you can easily
    toggle between the inline preview and the LaTeX code of an
    image or formula.<br/>
    <a href="assets/images/latex/preview_expanded.png"><img src="assets/images/latex/preview_expanded_thumb.png"/></a></p><a class="topOfPage" href="#top" title="Go to the top of this page">^
    TOP</a>

    <h2 id="references">Navigate through your labels and
    references</h2>

    <p>The right-most window was displayed after clicking on the
    <tt>\ref{fuzzyresolution}</tt> reference while the bottom
    window was obtained by clicking on the
    <tt>\label{fuzzyresolution}</tt> label.<br/>
    <a href="assets/images/latex/navigate_references.png"><img src="assets/images/latex/navigate_references_thumb.png"/></a></p>

    {% include "_includes/footer.njk" %}
</body>
</html>
