{% include "_includes/header.njk" %}
<body onload="processHighResImages();advanceStep();">
  {% include "_includes/navbar.njk" %}
  <div id="Content">
    <!--#include virtual="content-profile.php?from=${DOCUMENT_NAME}" -->    
    <h1>Reporting problems with Aquamacs</h1>

    <ul> <li>Bug reports are sent to the <a href="mailto:aquamacs-bugs@aquamacs.org">
      Aquamacs-bugs mailbox</a> using the "Send Bug Report"
      function in the Aquamacs <em>Help / Diagnose and Report Bug</em> menu. If you have a problem with a
      particular mode and you're sure that the bug occurs when using
      that mode with a plain GNU Emacs (not Aquamacs), then try to get
      in touch with the developers of that mode.  Do not send bug
      reports to the Emacs on OS X mailing list. If you know that the
      bug occurs in GNU Emacs, too, then report it to the <a href=
      "mailto:bug-gnu-emacs@gnu.org">GNU
      Emacs Bug mailing list</a> instead. However you submit a
      bug, you must follow the points below before making a
      report!</li>

      <li>
        <h4>Bug Reporting Procedure:</h4>If you encounter a bug while using a
        nightly build, you must run the following checks to
        determine the general source of the bug:<p>

        <ol>
	  <li>Ensure you're using the latest <a href="/downloads.shtml">release</a> or a recent <a href="nightlies.html">nightly build</a>.
          <li>Start Aquamacs without customizations:  In the Help menu, find <i>Diagnose and Report Bugs</i> / <i>Start Aquamacs without customizations</i>.
	  A new Aquamacs will open, with default settings.  Can you reproduce the problem here?  If so, the steps needed to reproduce should go into your bug report.  If you can't reproduce, have a look at your personal settings.  The bug is either in the settings, or it is triggered by them.

  <!--           <li>Start Aquamacs in Raw mode: from Terminal.app, call -->
  <!--             <pre style="font-size:90%;"> -->
  <!-- /Applications/Aquamacs\ Emacs.app/Contents/MacOS/Aquamacs\ Emacs -Q -->
  <!-- </pre>Has the bug gone away? Then it's likely to be a real bug in -->
  <!-- Aquamacs. Report it to the  <a href="mailto:aquamacs-bugs@aquamacs.org"> -->
  <!--       Aquamacs-bugs mailing list</a>, ideally using the "Send Bug Report" function in the Aquamacs Help menu. -->
  <!--           </li> -->

            <li>Is the bug still there, even when
            running Aquamacs Emacs without your customizations?  If not,
            have a look at your customizations in Preferences.el,
            .emacs, the Plugins and other files in Library/Application
            Support/Aquamacs Emacs/ (both in your user directory and in
            the system-wide /Library directory).
            Please identify the settings that cause the problem and
            report them to us if you find that Aquamacs is at fault.
  </li> </ol> </li>

      
            <!-- <li>Is the bug still there, even in Raw mode, that is, -->
            <!-- running Aquamacs Emacs without most Aquamacs-specific parts? -->
            <!-- It's likely to be a bug in GNU Emacs.  To report -->
            <!-- the bug, use the "Send Bug Report" function in Aquamacs, but -->
            <!-- send the e-mail off to the <a href= -->
            <!-- "http://lists.gnu.org/mailman/listinfo/emacs-pretest-bug"> -->
            <!-- GNU Emacs Pretest Bug mailing list</a>.</li> --> </ol> </li>

      <li> Your bug reports will be archived and publicly
        accessible.  We read every bug report, although we are unable to
        respond to all of them.
        <li>Update regularly. Consider using the <a href="nightlies.html">nightly builds from the source code repository</a>.</li>
      
    </div>
  {% include "_includes/footer.njk" %}
 </body>
</html>