{% include "_includes/header.njk" %}
<body onload="processHighResImages();advanceStep();">
    {% include "_includes/navbar.njk" %}
    <div id="Content">
        <div id="content-profile">
            <div id="spotlight">
             <h3>Feature Articles</h3>
             <ul>
               <li id="handle_latex" class=""><a id="link_latex" onmouseover="hoverImage('latex');" onmouseout="endHoverImage();" href="latex.shtml" class="">LaTeX Editing</a></li>
               <li id="handle_support" class=""><a id="link_support" onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="support.html" class="">Support</a> 
               (<a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsFAQ">FAQ</a>, 
              <a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsEmacs">Wiki</a>)</li>
             </ul>
              </div>
          </div>
    <h1>Support</h1><p>We'd love to hear from you: your ideas, your
    experiences, your problems with Aquamacs.</p>

  <br />
    <p><strong><em>Documentation</em></strong> is readily available -
    please look there before contacting us.
  <ul>
      <li>Manual in Help menu,
    <li><a href=
      "http://www.emacswiki.org/emacs/AquamacsEmacs/">Aquamacs
      Wiki</a> - You may also use the <a href=
      "http://www.emacswiki.org/emacs/AquamacsEmacs/">Wiki</a> to
      add and tips for customizing and improving Aquamacs.
    <li>Google: all our mailing lists are indexed.
  </ul>
    </p>
    <br />

  <!-- <div class="nightlyInfo"> -->

  <!-- <h2>Aquamacs Mailing lists are unavailable</h2> -->
  <!-- <p>This is in order to facilitate a move of the server. Apologies for -->
  <!--       any inconvenience.  The Emacs on OSX mailing list remains -->
  <!--   available, as does the  <a href="http://groups.google.com/group/aquamacs-devel">Archive</a>. </p> -->
        
  <!--       </div> -->
    
      <p><strong><em>Bug reports</em></strong>

  <ul>
    <li>Report bugs with the "Send Bug Report" function (Help menu) from
    within Aquamacs.
    <li>Please respect our <a
      href="reporting-bugs.shtml">Bug Reporting Guidelines</a>.
    <li>
      <small>If
      you are unable to use the bug reporting function, please send your
      bug report to the Aquamacs
      bug reports address by directly e-mailing <a
      href="mailto:aquamacs-bugs@aquamacs.org">aquamacs-bugs@aquamacs.org</a>
      (no subscription required).</small>
      <li> <a
      href="http://groups.google.com/group/aquamacs-devel">Archives on Google
      Groups</a>
  </ul>
  <br /></p>
      <p><strong><em>Questions</em></strong> should
      be directed to the Emacs-on-OS X mailing list.
    <ul><li><a
      href="http://email.esm.psu.edu/mailman/listinfo/macosx-emacs">Subscribe
      here</a>.
      <li><a
      href="http://news.gmane.org/gmane.emacs.macintosh.osx">Archives
      on GMANE</a>
      </ul><br /></p>

        <p><strong><em>Developers</em></strong> can talk on the <a href=
      "https://groups.google.com/forum/?fromgroups#!forum/aquamacs-devel">Aquamacs-devel
      mailing list</a> (posters must subscribe).  Concrete ideas and feature
      suggestions can be posted here, too.

    <ul><li><a
      href="https://groups.google.com/forum/?fromgroups#!forum/aquamacs-devel">Subscribe
      here</a>.
      <li><a href="http://groups.google.com/group/aquamacs-devel" >Archives
      on Google Groups</a>
      </ul>


    </div>

  {% include "_includes/footer.njk" %}
</body>
</html>