<!DOCTYPE html>
<html lang="en-us">
<head> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77306-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-77306-1');
  </script>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="keywords" content="Emacs,Mac,OS X,OSX,Macosx,Aqua,Carbon,Cocoa,XEmacs,GNU" />
  <meta name="description" content="Aquamacs is an Emacs for Mac OS X that will feel mostly like an Aqua program - while still being a real GNU Emacs with all the ergonomy and extensibility you've come to expect from this world-class editor." />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <title>Aquamacs: Emacs for Mac OS X</title>
  <!--[if lt IE 7.]>
  <script defer type="text/javascript" src="assets/js/pngfix.js"></script>
  <![endif]-->
  <link href="assets/css/main.min.css" rel="stylesheet" type="text/css" />
</head>