<div id="header">
    <a href="/">
        <img id="toplogo" class="highRes" style="position:absolute;" border="0" src="assets/images/aquamacs-logo.png" alt="Aquamacs Emacs" width="460">
    </a>
    
    <div id="rightBox">
        <ul>
            <li id="home"<span><a href="/">Home</a></span></li>
            <li id="about_menu"<span><a href="/about.html">What's Aquamacs?</a></span></li>
            <li id="features_menu"<span><a href="/features.html">Features</a></span></li>
            <li id="download"<span><a href="/download.html">Downloads</a></span></li>
            <li id="support_menu"<span><a href="/support.html">Support</a></span></li>
            <li id="development"<span><a href="/development.html">Development</a></span></li>
        </ul>
    </div>
</div>