{% include "./partials/header.njk" %}
<body onload="processHighResImages();advanceStep();">
  {% include "./partials/navbar.njk" %}
  <div id="Content">
<div id="content-profile">
            <div id="spotlight">
             <h3>Feature Articles</h3>
             <ul>
               <li id="handle_latex" class=""><a id="link_latex" onmouseover="hoverImage('latex');" onmouseout="endHoverImage();" href="/latex/index.html" class="">LaTeX Editing</a></li>
               <li id="handle_support" class=""><a id="link_support" onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="/support/index.html" class="">Support</a> 
               (<a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsFAQ">FAQ</a>, 
              <a onmouseover="hoverImage('support');" onmouseout="endHoverImage();" href="http://www.emacswiki.org/emacs/AquamacsEmacs">Wiki</a>)</li>
             </ul>
              </div>
          </div>
    <h1>Support the Aquamacs Project</h1>
    <h2>Due to a maintainer change, donations will end 30 September 2019.</h2>
    <p>If you like Aquamacs, consider giving money (below) or your time.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="donations@aquamacs.org">
        <input type="hidden" name="item_name" value="Gift for Aquamacs">
        <input type="hidden" name="amount" value="200.00">
        <input type="hidden" name="shipping" value="0.00">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="return" value="/donation-thanks/index.html">
        <input type="hidden" name="cancel_return" value="/donations/index.html">
        <input type="hidden" name="logo_custom" value="/img/psupbutton.jpg">
        <input type="hidden" name="cn" value="Comments">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="tax" value="0.00">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="bn" value="PP-BuyNowBF">
        <input type="image" src="/img/psupbutton.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        <input type="submit" value="Give $200"/>
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="donations@aquamacs.org">
        <input type="hidden" name="item_name" value="Donation for Aquamacs">
        <input type="hidden" name="amount" value="100.00">
        <input type="hidden" name="shipping" value="0.00">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="return" value="donation-thanks/index.html">
        <input type="hidden" name="cancel_return" value="donations/index.html">
        <input type="hidden" name="logo_custom" value="/img/psupbutton.jpg">
        <input type="hidden" name="cn" value="Comments">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="tax" value="0.00">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="bn" value="PP-BuyNowBF">
        <input type="image" src="/img/psupbutton.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        <input type="submit" value="Give $100"/>
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="donations@aquamacs.org">
        <input type="hidden" name="item_name" value="Donation for Aquamacs">
        <input type="hidden" name="shipping" value="0.00">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="return" value="donation-thanks/index.html">
        <input type="hidden" name="cancel_return" value="donations/index.html">
        <input type="hidden" name="logo_custom" value="/img/psupbutton.jpg">
        <input type="hidden" name="cn" value="Comments">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="tax" value="0.00">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="bn" value="PP-BuyNowBF">
        <input type="image" src="/img/psupbutton.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        $<input type="text" name="amount" value="50.00">
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        <input type="submit" value="Donate"/>
    </form>
    <p> You can use any international credit/debit card or also a Paypal
    account.  We also accept Bitcoin and Litecoins.<br></p>
    <p>Aquamacs is free software, but producing it costs a lot of time
    and also some real cash. Over the past 9 years, a single developer has
    produced and combined the majority of the code that makes Aquamacs unique compared
    to a standard Emacs implementation. A number of other volunteers
    helped by means of bug reporting and making helpful suggestions,
    through documentation and support, and through contributing
    special packages.
    <p>Your donation is an unrestricted gift - we do not promise anything in
    return.  However, we are grateful for your support.
    <p>Supporters may, usually shortly before the next major release, receive
    a (single) thank-you e-mail from the maintainer, including a special
    update about progress with the project.</p>

    <p><b>International transfers</b><br> 
    Details of a bank account
    (IBAN/BIC) suitable for international transfers and free
    transfers from the Euro zone, can also be provided. <a href="mailto:donations@aquamacs.org">Contact us</a>
    for information. 

    <p><b>Bitcoin and Litecoin</b><br>
    If you'd like to send Bitcoins, send them to <b>1PxseJ2yKoKnTbuJf5Kk8YVQvb7b1RcsA4</b>.
    Send Litecoins to <b>LUbWH8sxJYyd7j3RiU6Z4bPXywc3AzaX7u</b>.
    Please <a href="mailto:donations@aquamacs.org">drop us a line</a> if you do.

    <p><b>Corporate Sponsorships</b><br>
    If you would like to make an institutional
    contribution to ensure the long-term viability of this project, please contact the lead
    developer, treese <span>(at)</span> acm.org</a></span>.

    <b>Your contribution counts. Many thanks!</b></p>

    <h3>Refund Policy</h3>
    Gifts to the Aquamacs project are non-refundable.

    <h3>Privacy Policy</h3>
    The Aquamacs project will not pass on your personal details to third
    parties, nor will it allow the use of your personal details for
    marketing on behalf of third parties.  The project may store your
    personal details to facilitate communications with its supporters
    through e-mail.

    <h3>Contact</h3>

    You may contact david.reitter@gmail.com for any concerns, except for
    technical support in relation to Aquamacs. (See <a href="/support/index.html" alt="Tech Support">the support options</a> for
    technical support.)

    {% include "./partials/footer.njk" %}
</body>
</html>
