* {
  font-family: Verdana, Tahoma, Helvetica, Geneva, sans-serif;
  font-size: 9.5pt; 
}
H1, H2, H3 {
  padding-top: 12px;
  padding-bottom: 8px;
  color: #1f1f1f;
  font-family: Verdana, Tahoma, Helvetica, Geneva, sans-serif;
}
h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }
BODY {
 background-repeat: repeat-x; 
 background-color: white;
 /* background-color: #f2f2f2; */
 margin: 0px;
}

A {
  color: #023D67;
}


/* size everything */
#Content {
width: 85%;
margin:auto;
padding: 20px;
padding-top: 5px;
min-width: 800px;
}

#header {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 85%;
  margin: auto;
min-width: 800px;
  height: 170px; 
  margin-top: -13px;
  padding-top: 0px;    
}

.homess {
padding: 0px;
text-align: left;
margin: 0px;
overflow: hidden;
}

.homedownload { 
padding: 20px;
padding-bottom: 25px;

text-align: left;

}
.homedownload span {
  position: relative;
  top: -20px;
  padding-left: 5px;
}

#header #left {
  float: left;
  position: absolute;
  top: 10px;
  width: 450px;
  height: 170px;
}


#header #right {
  position: absolute;
  right: 0px;
  width: 235px;
  height: 100px;
  background-repeat: no-repeat;
  display: inline;
}


#Content {
  top: 180px;
color: #292929;
border: white;    
border-top: 0px;

line-height: 120%; 
 position: relative;    
 top: 0px;
}
#Content #nwcorner {
  background-image: url('/img/corner-nw.png');    
  float: left;
  height: 48px;
  width: 48px;
  display: inline;
  position: absolute;
  top: 0px;
  left: -1px;
}


#Content #content-profile {
  float:right; 
  max-width: 300px;
  min-width: 300px;
  width: 50%;
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 100%;
}

#content-profile H3 { margin-bottom: 3px; }
#content-profile .donationsDescription {
  color: #aaa;
}
.changelog UL LI { 
margin-bottom: 10px;
}
#content-profile UL LI {
  margin-top: -2px;
  margin: 0px;
  padding: 0px;
  list-style-image: url("/img/bullet_go_light.png");       
}

#content-profile UL LI A:hover,
#content-profile UL LI A.highlight {
  font-weight: bold; 
}

#content-profile UL LI.highlight {
  margin-top: -2px;
  margin: 0px;
  padding: 0px;
  list-style-image: url("/img/bullet_go.png");   
}

#spotlight {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  background-repeat: no-repeat;
  margin-top: 25px;
  padding: 5px;
  line-height: 100%; 
  border-bottom: solid 1px #023d67;
  background: CornflowerBlue;
  
}
#pix {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;

}

#pix {
  width: 470px;
}

#pix .image {
}

#pix H3 { margin-left: 15px; margin-bottom: 0px; margin-top: 5px; display: none; }

#pix UL { margin: 0px; border: solid 1px red;  }
#pix LI {
  cursor: pointer;
  display: inline;
  list-style-type: none;
  padding: 0px;
  margin-top: 5px;
  background-color: white;
}
#pix #imagelist {
  padding-top: 15px;
}

#content-profile #pix {
  width: 290px;
  height: 145px;
  overflow: hidden;
}

#content-profile .info {
  padding: 10px;
}
#content-profile .info UL {
  padding-left: 10px;
}

#spotlight A { color: #eee; }
#spotlight h3 { 
  color: white; 
  margin-top: 5px;
  margin-left: 5px;
  padding-bottom: 0px;
}

.downloads ul li { 
  list-style-type: none; 
}
.downloads ul { 
  list-style-type: none; 
}

.download {
  padding: 15px;
  border:none; 
  background:none; 
}

.recommended-download, .recommended-beta { 
  font-size: 150%; 
  font-weight: bold;
  width: 65%;
  border:1px solid gray; 
  background:white;
  padding: 15px;
}
.recommended-download IMG, .recommended-beta IMG { 
  position: relative; 
  top: 6px;
  padding-right: 5px;
  padding-left: 5px;
  border: 0px;
}
.recommended-download UL, .recommended-beta UL { 
  font-weight: normal;
  font-size: 100%;
}
.recommended-download { 
  background-color: white;
}


#rightBox { 
  position: absolute;
  bottom: 0px;
  right: 30px;
  margin: 0px;
  padding: 0px;
  float: right; 
  white-space:nowrap;
}

#rightBox img {
  display: none;
}

#rightBox ul  { 
 margin: 0px;
 display: grid;
}

#rightBox  LI A, #rightBox LI A:visited  { 
  color: blue;
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: 5px;
}

#rightBox LI  {
  cursor: pointer;

  display: block;

  text-align: right;

  list-style-type: none;
  padding: 4px;
  padding-top: 3px;    
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;    
  
  border: none; 
  border-bottom: 0px;
  /* background-color: white; */
  filter:alpha(opacity=80);
  -moz-opacity: .80;
  opacity: .80;
  
}

#rightBox LI span  { 
  position: relative;
  top: -5px;
}

#rightBox LI:hover {
}


/* #rightBox .selected, #rightBox .selected:HOVER { /* , #rightBox .selected A { */
#rightBox .selected, #rightBox .selected:HOVER {
     background-color: none;
     color: black;
  /* filter:alpha(opacity=100); */
  /* -moz-opacity: 1.0; */
  /* opacity: 1.0; */
}
#rightBox .selected A:visited, #rightBox .selected A {
  color: black;
}

.quote-quote {
  font-style: italic;
  padding-left: 10px;
}
.quote-source, .quote-spec {
  padding-left:25px;
  color: #aaa;
  font-size: 95%;
}

.indexFeatureList { 
  margin-left: 0px;
}
.title_big {
  font-size: 115%;
}
.title_regular {
  font-size: 100%;
}
.title_small {
  color: #404040;    
  font-size: 90%;
}
.title_tiny {
  color: #aaa;
  font-size: 70%;
}
.title_trail_off {
  color: #ccc;
  font-size: 60%;
}

#testimonials {
  padding: 15px;
}

#News {
  position: absolute;
  right: 10px;
  width: 300px;
  top: 380px;
}
#News .date {
  color: #aaa;
  line-height: 180%;
}
#News STRONG { 
  font-size: 100%; 
  line-height: 120%; 
}

#News P {
  padding: 13px;    
  padding-top: 0px;    
  text-indent: -10px;
}

.nightlyInfo {
  margin-left: 10px;
  margin-right: 10px;    
  margin-bottom: 20px;
  border: solid 1px #ccc;
  padding: 5px;    
  padding-left: 15px;
}

#Content CODE {
  background-color: #404040;
  color: white;
  line-height: 130%;
  font-family: monaco, courier, mono;
  font-size: 90%;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;    
  margin-bottom: 10px;
}

#SFLink  {
  padding: 5px;
}

#SFLink IMG {
  border: solid 1px black;
}

.framedImage {
  border: solid 3px black;
}

TABLE {
  border-collapse:	collapse;
  
}
.featureMatrix TD {
  border: solid 1px #02070a;
  margin: 0px;
}

#rightBox LI  {
  display: inline;
  filter:alpha(opacity=80);
}
#rightBox LI SPAN { height: 90px; padding-top:5px; }
#header #right {
  background-image: none;
}

#Content #content-profile {
 width: 300px;
}
