#rightBox LI  {
    display: inline;
    filter:alpha(opacity=80);
}
#rightBox LI SPAN { height: 90px; padding-top:5px; }
#content-profile UL LI, #content-profile UL LI.highlight {
    list-style-image: none;
}
#header #right {
    background-image: none;
}

#Content #content-profile {
 	width: 300px;
}
